.products-container {
  font-family: "Comfortaa", sans-serif !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.products-container .filters {
  display: flex;
  flex-direction: column;
  /*border: 4px double #414779;*/
  border-radius: 8px;
  width: 25vw;
  background-color: rgba(255, 255, 255, 0.95);
  font-family: "Comfortaa", sans-serif;
  padding: 40px;
}

.products-container #reset-button {
  align-self: start;
}

.products-container .product-name {
  text-decoration: none;
  color: #2a2c2f;
  margin-bottom: 2rem;
}

.products-container #submit-button {
  margin-top: 20px;
}

.products-container #units {
  margin-top: 20px;
}

.products-container .p-button {
  font-family: "Comfortaa", sans-serif !important;
}

.products-container .field-checkbox {
  align-self: start;
  margin: 20px 20px 20px 0;
}

.products-container .checkbox-group {
  display: flex;
  flex-direction: column;
}

.products-container .p-multiselect-item {
  font-family: "Comfortaa", sans-serif
}

.products-container .p-multiselect {
  width: 100%;
}

.products-container .p-multiselect-token-label {
  font-family: "Comfortaa", sans-serif
}

.products-container .p-dataview {
  font-family: "Comfortaa", sans-serif;
  /*border: 4px double #414779;*/
  border-radius: 8px;
  width: 65vw;
}

.p-dataview-header {
  background-color: #ffffff !important;
  /*border-bottom: 4px double #414779 !important;*/
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.p-dataview-content {
  background-color: rgba(255, 255, 255, 0.95) !important;
  min-height: 40vh;
}

.p-placeholder {
  font-family: "Comfortaa", sans-serif;
}

.p-dropdown-item {
  font-family: "Comfortaa", sans-serif;
}

.p-button-label {
  font-family: "Comfortaa", sans-serif;
}

.p-paginator {
  background-color: #ffffff;
  /*border-top: 4px double #414779 !important;*/
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.p-paginator-page {
  font-family: "Comfortaa", sans-serif;
}


.p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-description {
  margin: 0 0 1rem 0;
}

.product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.product-category {
  font-weight: 600;
  vertical-align: middle;
}

.product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.products-container .product-list-item img {
  width: 7rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.product-list-item .product-list-detail {
  flex: 1 1 0;
  display: flex;
  flex-direction: column
}

.product-list-item .p-rating {
  margin: 0 0 .5rem 0;
}

.product-list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .5rem;
  align-self: flex-end;
}

.product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}

.product-list-item .p-button {
  margin-bottom: .5rem;
}

.product-grid-item {
  margin: .5em;
  border: 1px solid var(--surface-border);
  padding: 2rem;
}

.product-grid-item .product-grid-item-top,
.product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

.product-grid-item .product-grid-item-content {
  text-align: center;
}

.product-grid-item .product-grid-item-content img {
  max-width: 300px;
}

.product-grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .product-list-item {
    flex-direction: column;
    align-items: center;
  }

  .product-list-item img {
    width: 75%;
    margin: 2rem 0;
  }

  .product-list-item .product-list-detail {
    text-align: center;
  }

  .product-list-item .product-price {
    align-self: center;
  }

  .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }

  .product-list-item .product-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

